/* morenvy.com 220823 박준호 */
@charset "utf-8";

:root {
    --color-diabetes-care: #004c86;
    --color-pregnant-diabetes: #004c86;
    --color-kidney-dialysis: #ef880a;
    --color-kidney-care: #ef880a;
    --color-cancer-care: #4c790b;
    --color-pink-ribbon: #C24397;
    --color-sodium-650: #9400D3;
    /* --color-low-cholesterol: brown; */
}

body {
    padding: 0;
    margin: 0;
}
body.scroll {
    overflow: hidden;
}
#wrap {
    position: relative;
    margin: 0 auto;
}
div#container {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
#container #contents {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}
input,
select,
textarea,
body,
code {
    font-family: "Red Hat Display", "Pretendard", sans-serif !important;
}

.cboth {
    clear: both;
    *zoom: 1;
}
.cboth:after {
    content: " ";
    display: block;
    clear: both;
}
.m_off {
    display: none !important;
}
svg:not(:root) {
    overflow: hidden;
}
audio,
canvas,
img,
svg,
video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

.move {
    transition: all 0.3s;
}

#first-category > ul > li .new-badge {
    position: absolute; 
    top: 3px; 
    left: 4px; 
    font-size: 16px; 
    color: red;
}

.ms_cate > .menu_tree > li > .new-badge {
    position: absolute; 
    top: 3px; 
    left: 4px; 
    font-size: 16px; 
    color: red;
}

#first-category > ul > li.selected .new-badge {
    top: 1px; 
}

.menu_tree .new-badge {
    position: absolute; 
    top: -8px; 
    left: -8px; 
    font-size: 16px; 
    color: red;
}

/* 상단 */
#mheader {
    position: relative;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
}
#mheader:after,
#mheader:before {
    display: none;
}
#mheader > div:not(#dimmedSlider) {
    position: relative;
    z-index: 11;
    background-color: #fff;
}
#mheader.search #dimmedSlider {
    z-index: 10;
}
#dimmedSlider {
    display: none;
    width: 100% !important;
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(26, 26, 26, 0.5);
}
#mheader.fixed {
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #efefef;
}
span.mh_empty {
    display: none;
    transition: height 0.3s;
}
#mheader.fixed + span.mh_empty {
    display: block;
}

/* 상단 : 로고 */
#mheader .mh_sec01 .mh_logo img {
    height: 16px;
}

/* 상단01 : 메뉴 */
#mheader .mh_sec01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;
}
#mheader .mh_sec01 .top_right {
    display: flex;
    align-items: center;
}
#mheader .mh_sec01 .top_right div:not(:first-child) {
    margin-left: 20px;
}
#mheader .mh_sec01 .top_right .mh_search {
    position: relative;
    width: 24px;
    height: 24px;
}
#mheader .mh_sec01 .top_right .mh_search > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px !important;
    height: 24px !important;
}
#mheader .mh_sec01 .top_right .mh_search .close {
    display: none;
}
#mheader .mh_sec01 .top_right .mh_cart {
    position: relative;
}
#mheader .mh_sec01 .top_right .mh_cart span {
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    line-height: 1;
    font-weight: 700;
    color: #1a1a1a;
}

/* 상단02 : 카테고리 */
#mheader .mh_sec02 {
    height: 96px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.04);
    overflow: hidden;
}

#mheader .mh_sec02 #mcategory .relative {
    position: relative;
}

#mheader .mh_sec02 #mcategory .flex {
    display: flex;
}

#mheader .mh_sec02 #mcategory .flex-grow {
    flex-grow: 1;
}

#mheader .mh_sec02 #first-category {
    height: 48px;
    overflow-x: auto;
    border-bottom: 1px solid #eee;
}

#mheader .mh_sec02 #first-category .selected {
    border-bottom: 2px solid black;
    border-top: 2px solid transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#mheader .mh_sec02 #first-category .selected > a {
    font-weight: 600;
    color: black;
}

#mheader .mh_sec02 #second-category {
    height: 48px;
    overflow-x: auto;
}

#mheader .mh_sec02 #second-category .selected {
    border-bottom: 2px solid rgb(23, 0, 107);
    border-top: 2px solid transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#mheader .mh_sec02 #second-category .selected > a {
    font-weight: 700;
    color: black;
}

#mheader .mh_sec02 #second-category > ul > li .badge {
    color: red;
    font-size: 12px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 0px;
}

#mheader .mh_sec02 #second-category .disease_care .diabetes_care > a {color: var(--color-diabetes-care);}
#mheader .mh_sec02 #second-category .disease_care .pregnant_diabetes > a {color: var(--color-pregnant-diabetes);}
#mheader .mh_sec02 #second-category .disease_care .kidney_dialysis > a {color: var(--color-kidney-dialysis);}
#mheader .mh_sec02 #second-category .disease_care .kidney_care > a {color: var(--color-kidney-care);}
#mheader .mh_sec02 #second-category .disease_care .cancer_care > a {color: var(--color-cancer-care);}
#mheader .mh_sec02 #second-category .disease_care .pink_ribbon > a {color: var(--color-pink-ribbon);}
#mheader .mh_sec02 #second-category .disease_care .sodium_650 > a {color: var(--color-sodium-650);}

#mheader .mh_sec02 .gradient-bg  {
    height:44px;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 3px,
        rgba(255, 255, 255, 0.3) 25px,
        rgba(255, 255, 255, 0) 30px,
        rgba(255, 255, 255, 0) calc(100% - 30px),
        rgba(255, 255, 255, 0.3) calc(100% - 25px),
        rgba(255, 255, 255, 1) calc(100% - 3px),
        rgba(255, 255, 255, 1) 100%
    );
    z-index: 1; /* Ensure gradient is above content */
}

#mheader .mh_sec02 .gradient-bg2 {
    height:44px;
    position: absolute;
    pointer-events: none;
    top: 49px;
    left: 0;
    width: 100%;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 3px,
        rgba(255, 255, 255, 0.3) 25px,
        rgba(255, 255, 255, 0) 30px,
        rgba(255, 255, 255, 0) calc(100% - 30px),
        rgba(255, 255, 255, 0.3) calc(100% - 25px),
        rgba(255, 255, 255, 1) calc(100% - 3px),
        rgba(255, 255, 255, 1) 100%
    );
    z-index: 1; /* Ensure gradient is above content */
}

#first-category::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

#second-category::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

#mheader .mh_sec02 #mcategory > div {
    display: flex;
    margin: 0;
    padding: 0;
}
#mheader .mh_sec02 #mcategory > div > ul {
    display: flex;
    flex-shrink: 0;
    font-size: 0;
}
#mheader .mh_sec02 #mcategory > div > ul:first-child {
    padding-left: 12px;
}
#mheader .mh_sec02 #mcategory > div > ul:last-child {
    padding-right: 12px;
}
#mheader .mh_sec02 #mcategory > div > ul > li {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 12px;
}
#mheader .mh_sec02 #mcategory > div > ul > li > ul {
    display: none;
    font-size: 0;
    width: 0;
}
#mheader .mh_sec02 #mcategory > div > ul > li > a {
    position: relative;
    height: auto;
    padding: 0;
    font-size: 15px;
    line-height: 32px;
    font-weight: 500;
    color: #1a1a1a;
}
#mheader .mh_sec02 #mcategory > div > ul > li.point > a:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    margin: 2px;
    border-radius: 50%;
    background-color: #1a1a1a;
    position: absolute;
    top: 0;
    left: 100%;
}
#mheader .mh_sec02 #mcategory > div > ul.category_side {
    width: auto;
}
#mheader .mh_sec02 #mcategory > div > ul.category_side > li span.icon_plus,
#mheader .mh_sec02 #mcategory > div > ul.category_side > li > ul {
    display: none;
}

/* 상단03 : 검색 */
#mheader .mh_sec03 {
    display: none;
    position: absolute !important;
    top: 64px;
    width: 100%;
}
#mheader .mh_sec03 #frmSearchTop {
    padding: 8px 6% 32px;
    width: 100%;
    box-sizing: border-box;
}
#mheader .mh_sec03 #frmSearchTop fieldset {
    position: relative;
    border: 0;
    font-size: 0;
    width: 0;
    margin: 0 auto;
    transition: width 0.5s;
    padding-bottom: 16px;
    background-color: #fff;
}
#mheader .mh_sec03 #frmSearchTop input#sch {
    width: 100%;
    height: auto;
    padding: 10px 0;
    border: 0;
    border-bottom: 2px solid #1a1a1a;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #a8a8a8;
    box-sizing: border-box;
    border-radius: 0;
}
#mheader .mh_sec03 #frmSearchTop button.h_search_btn {
    position: absolute;
    top: 8px;
    right: 0;
    width: auto;
    height: auto;
    border: 0;
    background: transparent;
    padding: 0;
}
#mheader .mh_sec03 .mh_popular ul {
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    transform: translateY(-20px);
    transition: 1s;
}
#mheader .mh_sec03 .mh_popular ul li {
    display: inline-block;
}
#mheader .mh_sec03 .mh_popular ul li a {
    padding: 0 8px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #1a1a1a;
}

#mheader .mh_sec03.open .mh_popular ul {
    opacity: 1;
    transform: translateY(0);
}
#mheader.search .mh_sec03 #frmSearchTop fieldset {
    width: 100%;
}

/* 사이드바 */
#wrap .m_side {
    z-index: 102;
    position: fixed;
    top: 0;
    left: 0;
    /* width: calc(100vw - 64px) !important; */
    width: 100% !important;
    height: 100vh !important;
    overflow-y: scroll;
    transform: translateX(-100%);
    /* padding: 0 24px; */
    box-sizing: border-box;
    background-color: #fff;
    transition: transform 0.5s;
}
#wrap .m_side.open {
    transform: translateX(0);
}
#wrap .m_side .m_side_bg_box .m_side_box {
    position: static;
    width: 100%;
    margin: 0;
}
#wrap .m_side .m_side_bg_box .m_side_box .m_side_iscroll_box {
    height: auto;
}

#wrap .m_side + .bg {
    display: none;
    z-index: 101;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
#wrap .m_side.open + .bg {
    display: block;
}

/* 사이드바01 : 로그인 */
#wrap .m_side .ms_top {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    /* border-bottom: 1px solid #ededed; */
}

#wrap .m_side .ms_top .ms_lang {
    margin-right: 16px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #1a1a1a;
}
#wrap .m_side .ms_top .ms_lang .current {
    display: flex;
    align-items: center;
}
#wrap .m_side .ms_top .ms_lang ul {
    display: none;
}

#wrap .m_side .ms_top .ms_login div {
    display: flex;
    align-items: center;
}
#wrap .m_side .ms_top .ms_login a {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    color: #222222;
}
#wrap .m_side .ms_top .ms_login svg {
    width: 24px;
    height: 24px;
}
#wrap .m_side .ms_top .ms_login svg rect {
    fill: #c8c8c8;
}

#wrap .m_side .ms_top .btnClose {
    position: static;
    margin-left: auto;
    padding: 0;
}

#wrap .m_side .nav_bg_box {
    height: calc(100% - 52px);
}

#wrap .m_side .nav_bg_box .nav_box,
#wrap .m_side .nav_bg_box .nav_iscroll_box {
    height: 100%;
}

#wrap .m_side .nav_bg_box .nav_content_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#wrap .m_side .ms_quick {
    display: flex;
    padding: 16px 12px;
    border-bottom: 1px solid #ECECEC;
}

#wrap .m_side .ms_quick a {
    flex: 1;
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 500;
}

#wrap .m_side .ms_quick .ms_quick_img {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 16px;
    margin: 0 auto 4px;
}

/* 사이드바02 : 카테고리 */
#wrap .m_side .ms_cate {
    flex: 1;
    background: linear-gradient(90deg, #F5F5F5 0 33.333%, #FFFFFF 33.333% 100%);
}

#wrap .m_side .ms_cate .menu_tree {
    position: relative; 
    height: 100%;
    overflow-y: auto;
}

#wrap .m_side .ms_cate ul li ul {
    display: block;
}

#wrap .m_side .ms_cate .relative {
    position: relative;
}

#wrap .m_side .ms_cate .flex {
    display: flex;
}

#wrap .m_side .ms_cate .flex-grow {
    flex-grow: 1;
}

#wrap .m_side .ms_cate .justify-start {
    justify-content: start;
}

/* #wrap .m_side .ms_cate ul li ul.grid-cols-2 {
    position: relative;
    display: grid; 
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1px;
}

#wrap .m_side .ms_cate ul li ul.grid-rows-3 {
    position: relative;
    display: grid; 
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-auto-flow: column;
    column-gap: 1px;
}

#wrap .m_side .ms_cate ul li ul.grid-rows-4 {
    position: relative;
    display: grid; 
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-auto-flow: column;
    column-gap: 1px;
}

#wrap .m_side .ms_cate ul li ul.grid-rows-5 {
    position: relative;
    display: grid; 
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-auto-flow: column;
    column-gap: 1px;
} */

#wrap .m_side .ms_cate > ul > li.selected {
    background-color: #fff;
}
#wrap .m_side .ms_cate > ul > li.selected > ul {
    display: block;
}
#wrap .m_side .ms_cate > ul > li.selected > a,
#wrap .m_side .ms_cate > ul > li > ul > li.selected > a {
    /* font-weight: 700;  */
    /* text-decoration-line: underline;  */
    /* text-underline-offset: 5px; */
}

#wrap .m_side .ms_cate > ul > li.new-red-dot > a:before {
    content: "•";
    top: -13px; 
    left: -8px; 
    font-size: 16px; 
    color: red;
    position: absolute;
}

#wrap .m_side .ms_cate ul li.disease_care ul li.diabetes_care > a {color: var(--color-diabetes-care);}
#wrap .m_side .ms_cate ul li.disease_care ul li.pregnant_diabetes > a {color: var(--color-pregnant-diabetes);}
#wrap .m_side .ms_cate ul li.disease_care ul li.kidney_dialysis > a {color: var(--color-kidney-dialysis);}
#wrap .m_side .ms_cate ul li.disease_care ul li.kidney_care > a {color: var(--color-kidney-care);}
#wrap .m_side .ms_cate ul li.disease_care ul li.cancer_care > a {color: var(--color-cancer-care);}
#wrap .m_side .ms_cate ul li.disease_care ul li.pink_ribbon > a {color: var(--color-pink-ribbon);}
#wrap .m_side .ms_cate ul li.disease_care ul li.sodium_650 > a {color: var(--color-sodium-650);}

#wrap .m_side .ms_cate ul li ul li .badge {
    color: red;
    font-size: 12px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 0px;
}

#wrap .m_side .ms_cate ul li ul.grid-cols-2 li {
    margin: 0;
}
#wrap .m_side .ms_cate ul li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
    border: 0;
    /* background-color: #fff; */
    /* margin-bottom: 8px; */
}
#wrap .m_side .ms_cate ul > li a.view {
    position: relative;
    border: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    color: #222222;
}
#wrap .m_side .ms_cate ul > li a.cate {
    position: relative;
    border: 0;
    padding: 14px 0;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    color: #999999;
    min-width: 33.333%;
    text-align: center;
}
#wrap .m_side .ms_cate ul > li > ul {
    /* width: 100%; */
    /* margin: 16px 0; */
    /* padding-left: 16px; */
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 33.333%;
    width: calc(100% - 33.333%);
}
#wrap .m_side .ms_cate ul > li > ul li {
    /* margin-bottom: 8px; */
}
#wrap .m_side .ms_cate ul > li > ul button {
    display: none;
}
#wrap .m_side .ms_cate ul > li > ul a.view {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    color: #222222;
    padding: 15px 20px 12px;
}

#wrap .m_side .ms_cate .board_cate {
    display: none;
}
#wrap .m_side .ms_cate .board_cate li a {
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    color: #6a6a6a;
}

#wrap .m_side .ms_footer {
    /* position: absolute;
    bottom:0;
    left: 0;
    width: 100%; */
}

/* 사이드바03 : 마이페이지 */
#wrap .m_side .ms_mypage {
    /* padding: 32px 0 100px; */
    display: flex;
    border-top: 1px solid #ECECEC;
}
#wrap .m_side .ms_mypage a {
    display: block;
    flex: 1;
    padding: 16px 0;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: #666666;
    text-align: center;
    border-left: 1px solid #ECECEC;
}

#wrap .m_side .ms_mypage a:first-child {
    border-left: none;
}

#wrap .m_side .ms_banner a {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 28px 20px 32px;
    background-color: #666666;
    font-size: 16px;
    color: #ffffff
}

#wrap .m_side .ms_banner a span {
    font-size: 14px;
}

/* 하단 */
#mfooter {
    position: relative;
    border: 0;
    padding: 40px 0 64px;
    margin: 80px 0 0;
    background-color: #fff;
    border-top: 1px solid #ededed;
}
#mfooter:after,
#mfooter:before {
    display: none;
}
#mfooter .inner {
    padding: 0 24px;
}

/* 하단01 : 하단 링크 */
#mfooter .mf_link {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
#mfooter .mf_link a {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #9a9a9a;
}
#mfooter .mf_link a.privacy {
    color: #1a1a1a;
}
#mfooter .mf_link svg {
    margin: 0 4px;
}
#mfooter .mf_link svg rect {
    fill: #ddd;
}

/* 하단01 : 하단 로고 */
#mfooter .mf_logo img {
    height: 16px;
}

/* 하단03 : 회사정보 */
#mfooter .mf_info {
    margin: 24px 0;
}
#mfooter .mf_info div {
    display: flex;
    align-items: center;
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #1a1a1a;
}
#mfooter .mf_info div > a {
    display: inline-block;
    padding: 0 4px;
    margin-left: 8px;
    background-color: #f6f6f6;
}
#mfooter .mf_info div:first-child {
    margin-top: 0;
}

/* 하단04 : 운영시간 */
#mfooter .mf_time {
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #1a1a1a;
}
#mfooter .mf_time span {
    display: block;
    margin-top: 4px;
    color: #8a8a8a;
}

/* 하단05 : 카피라이트 */
#mfooter .mf_copy {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #8a8a8a;
}

/* 하단06 : SNS */
#mfooter .mf_sns {
    margin-top: 40px;
    font-size: 0;
}
#mfooter .mf_sns a:not(:first-child) {
    display: inline-block;
    margin-left: 12px;
}
#mfooter .mf_sns img {
    height: 24px;
}

/* Fixed SNS */
div.mf_quick {
    z-index: 101;
    position: fixed;
    right: 16px;
    bottom: 16px;
    font-size: 0;
}
div.mf_quick img {
    height: 40px;
    width: 40px;
}
div.mf_quick > img {
    position: relative;
    z-index: 2;
    transform: rotate(-45deg);
    transition: 0.3s;
}

div.mf_quick ul {
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s;
}
div.mf_quick ul li {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s;
}
div.mf_quick ul li a {
    display: block;
    width: 40px;
    height: 40px;
}

div.mf_quick.open > img {
    transform: rotate(0);
}
div.mf_quick.open ul {
    bottom: 48px;
}

/* 분류페이지 */
div.sub_top {
    padding: 0;
    border-top: 0;
}
div.sub_top .sub_top_left {
    top: 12px;
    left: 24px;
}
div.sub_top .sub_top_left > a {
    padding: 0;
    background: none;
}
div.sub_top .sub_top_right2 {
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
}
div.sub_top .sub_top_right2 .board_btn {
    border-color: #ededed;
    padding: 6px 10px;
}
div.sub_top .sub_top_right3 {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px
}
div.sub_top .sub_top_right3 .board_btn {
    border-color: #ededed;
    padding: 6px 10px;
}
div#titleArea {
    height: 56px;
    border-bottom: 1px solid #ededed;
    color: #1a1a1a;
}
div#titleArea span {
    position: static;
    display: inline-block;
}
div#titleArea h2 {
    font-size: 18px;
    line-height: unset;
    font-weight: 500;
    color: #1a1a1a;
    padding: 14px 0;
}

div.goods_list .goods_list_category {
    padding-bottom: 32px;
    border-bottom: 1px solid #ededed;
}
div.goods_list .goods_list_category > ul {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    padding: 0;
    margin: 24px 0 0;
    border-bottom: 0;
}
div.goods_list .goods_list_category > ul > li {
    display: flex;
    align-items: center;
    width: max-content;
}
div.goods_list .goods_list_category > ul > li:not(:first-child):before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #ededed;
    margin: 0 16px;
}
div.goods_list .goods_list_category > ul > li:first-child {
    padding-left: 24px;
}
div.goods_list .goods_list_category > ul > li:last-child {
    padding-right: 24px;
}
div.goods_list .goods_list_category > ul li a {
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    color: #8a8a8a;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    padding: 0;
}
div.goods_list .goods_list_category > ul li.selected > a {
    color: #1a1a1a;
    border-color: #1a1a1a;
}

.cate_ban {
    padding: 0;
}
.cate_ban img {
    width: 100%;
    padding: 40px 24px 0;
    box-sizing: border-box;
}

div.goods_list_recom {
    margin-top: 40px;
}
div.goods_list_recom .recommend_prd_list {
    padding: 0 !important;
}
div.goods_list_recom .swiper-container {
    padding: 0 24px;
    box-sizing: border-box;
}
div.goods_list_recom .goods_prd_img .num {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 0 0 16px 0;
    background-color: #bababa;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    transition: background-color 0.3s;
}
div.goods_list_recom li.swiper-slide-active .goods_prd_img .num {
    background-color: #1a1a1a;
}
div.goods_list_recom .goods_list_info {
    text-align: center;
    padding: 0 12px;
    box-sizing: border-box;
}
div.goods_list_recom .goods_list_info .through {
    display: inline-block;
    margin-left: 8px;
}
div.goods_list_recom .swiper-scrollbar-widget {
    position: static;
}

div#goodslist div.goods_top_box {
    margin: 16px 0;
    padding: 0 24px;
    background: #fff;
}
div#goodslist div.goods_top_box div.inp_sel select {
    width: 136px;
    height: 40px;
    padding: 8px;
    border: 1px solid #ededed;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../img/mimg/select.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center right 8px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #1a1a1a;
}
div#goodslist div.goods_top_box .goods_arr_box .goods_view_type ul {
    width: auto;
}
div#goodslist div.goods_top_box .goods_arr_box .goods_view_type ul li {
    background: none !important;
    border: 0;
    border-radius: 0;
    width: 40px;
    height: 40px;
    padding: 0;
}
div#goodslist
    div.goods_top_box
    .goods_arr_box
    .goods_view_type
    ul
    li:not(:first-child) {
    margin-left: -1px;
}
div#goodslist div.goods_top_box .goods_arr_box .goods_view_type ul li button {
    width: 40px;
    height: 40px;
}

div.goods_list_box .more_btn {
    display: block;
    margin: 0 auto;
}
div.goods_list_box .more_btn svg {
    width: 16px;
    height: 16px;
    margin-left: auto;
}

ul.goods_product_list > li:first-child {
    border-top: 0 !important;
    padding-top: 0;
}

ul.goods_product_list li.goods_prd_item1 .goods_list_info {
    text-align: center;
    padding: 0 12px;
    box-sizing: border-box;
}
ul.goods_product_list li.goods_prd_item1 .goods_list_info .through {
    display: inline-block !important;
    margin-left: 8px;
}

/* 검색페이지 */
.goods_search .tit {
    padding: 11px 24px 10px;
}
.goods_search .tit .prd_num span {
    color: #1a1a1a;
}

/* 공통 : 더보기 */
div.btn_box.more_btn {
    padding: 0;
    border: 0;
    width: auto;
}
div.btn_box.more_btn .more {
    padding: 12px 0 12px 8px;
}
.more {
    position: relative;
    display: block;
    width: 112px;
    padding: 8px 0 8px 8px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    font-weight: 700;
    color: #1a1a1a;
    border: 0;
}
.more span {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.more:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #1a1a1a;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
}
.more_bright {
    position: relative;
    display: block;
    width: 112px;
    padding: 8px 0 8px 8px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    font-weight: 700;
    color: white;
    border: 0;
}
.more_bright span {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.more_bright:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
}
.more_bright svg rect {
    fill: white;
}

.more_bright svg path {
    stroke: white;
}

/* 공통 : 타이틀 */
div.m_titleArea {
    text-align: center;
    margin-bottom: 40px;
}
div.m_titleArea .t01 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #1a1a1a;
}
div.m_titleArea .t02 {
    margin-top: 8px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.02em;
    font-weight: 400;
    color: #8a8a8a;
}
div.m_titleArea a.more {
    margin-top: 32px;
}
div.m_titleArea a.more_bright {
    margin-top: 32px;
}

/* 공통 : 스와이퍼 스크롤바 */
div.swiper-scrollbar {
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 2px !important;
    border-radius: 0;
    background-color: #ededed;
}
div.swiper-scrollbar div.swiper-scrollbar-drag {
    border-radius: 0;
    background-color: #1a1a1a;
}

/* 공통 : 스와이퍼 페이지네이션 */
div.swiper-pagination {
    width: auto;
    display: flex;
    align-items: center;
}
div.swiper-pagination span.swiper-pagination-bullet {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background: none;
    margin: 0 0 0 4px !important;
}
div.swiper-pagination span.swiper-pagination-bullet:before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: #c8c8c8;
    border-radius: 50%;
}
div.swiper-pagination span.swiper-pagination-bullet:first-child {
    margin-left: 0 !important;
}
div.swiper-pagination span.swiper-pagination-bullet-active:before {
    width: 10px;
    height: 10px;
    border: 2px solid #1a1a1a;
    background-color: transparent;
    box-sizing: border-box;
}

/* 상품진열 */
ul[class*="prd_list"],
ul[class*="product_list"] {
    padding: 0 16px !important;
}
.m_prd {
    margin-bottom: 40px !important;
}
.m_prd .m_inner {
    padding: 0 8px;
    box-sizing: border-box;
}

li[class*="goods_prd_item"] .goods_prd_img {
    position: relative;
    margin: 0 0 16px;
    padding: 0;
    border: 1px solid #ededed;
    box-sizing: border-box;
}
li[class*="goods_prd_item"] .goods_prd_img .img_box a .img img {
    border: none;
}
li[class*="goods_prd_item"] .goods_prd_img .timesale_box {
    display: none;
}
li[class*="goods_prd_item"] .goods_prd_img .goods_prd_icon {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
li[class*="goods_prd_item"]
    .goods_prd_img
    .goods_prd_icon
    img:not(:first-child) {
    margin-top: 4px;
}

li[class*="goods_prd_item"] .goods_prd_img .soldout_icon {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.goods_prd_content .goods_list_info {
    margin: 0;
    padding: 0;
}
.goods_prd_content .goods_list_info .goods_info_list li {
    vertical-align: unset;
    padding: 0;
}
.goods_prd_content .goods_list_info .goods_info_list li.prd_name {
    margin: 0 0 8px;
    color: #1a1a1a;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
}
.goods_prd_content .goods_list_info .goods_info_list li.short_des {
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    max-height: 36px;
    color: #8a8a8a !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}
.goods_prd_content
    .goods_list_info
    .goods_info_list
    li.item_money_box
    .sale_per {
    display: inline-block;
    margin-right: 8px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    color: #ff4800;
}
.goods_prd_content
    .goods_list_info
    .goods_info_list
    li.item_money_box
    .m_price {
    display: inline-block;
    color: #1a1a1a !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    line-height: 20px;
}
.goods_prd_content
    .goods_list_info
    .goods_info_list
    li.item_money_box
    .through {
    display: block;
    color: #a8a8a8 !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 18px;
    text-decoration: line-through;
}

.goods_prd_content .goods_list_info .color_chip {
    margin: 16px 0 0;
}
.goods_prd_content .goods_list_info .color_chip > div {
    float: none;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0;
    border: 1px solid #ededed;
    box-sizing: border-box;
    border-radius: 50%;
}
.goods_prd_content .goods_list_info .color_chip > div:not(:first-child) {
    margin-left: 8px;
}

.goods_prd_content .goods_list_info .time_sale_text,
.goods_prd_img .img_box .timesale_img,
.goods_prd_img .img_box .box_time_sale {
    display: none;
}

/* 리스트형 */
div.goods_list_box ul.goods_product_list > li.goods_prd_item {
    display: flex;
    align-items: flex-start;
    padding: 24px 8px;
    margin-bottom: 0 !important;
}
div.goods_list_box ul.goods_product_list > li.goods_prd_item:first-child {
    padding: 0 8px 24px;
}
div.goods_list_box ul.goods_product_list > li.goods_prd_item .goods_prd_img {
    float: none;
    width: 40%;
    margin: 0;
}
div.goods_list_box
    ul.goods_product_list
    > li.goods_prd_item
    .goods_prd_content {
    float: none;
    padding: 0;
    width: 60%;
    padding-left: 16px;
    box-sizing: border-box;
}

/* 롤링상품 */
.m_prd.swiper-slide .m_inner {
    padding: 0;
    text-align: center;
}
.m_prd.swiper-slide
    .m_inner
    .goods_prd_content
    .goods_list_info
    .goods_info_list {
    padding: 0 12px;
    box-sizing: border-box;
}
.m_prd.swiper-slide
    .m_inner
    .goods_prd_content
    .goods_list_info
    .goods_info_list
    li.item_money_box
    .through {
    display: inline-block;
    margin-left: 8px;
}

/* 게시판 */
#boardlist div.board_search {
    padding: 0px 96px 16px 24px;
}
#boardlist div.board_search .search_btn {
    right: 24px;
    top: 0px;
}
#boardlist div.board_search .search_btn .board_search_btn {
    padding: 7px 0px;
}
#boardlist div.board_search .search_input input {
    font-weight: 400 !important;
}
#boardlist .goods_area .notice_list {
    padding: 16px 0;
}
#boardlist .goods_area .notice_list li {
    min-height: 0;
    padding: 12px 24px 12px 24px;
    border-color: #ececec;
}
#boardlist .goods_area .notice_list .notice_title {
    padding-bottom: 0;
}
#boardlist .goods_area .notice_list .rating {
    width: auto;
    height: auto;
    background: none;
    margin-top: 12px;
}

#boardContent > h3 {
    font-size: 15px;
    line-height: 1.4;
    background-color: transparent;
    color: #1a1a1a;
    padding: 24px 24px 0;
}
#boardContent .view_box .view_info {
    padding: 8px 24px 24px;
    border-bottom: 1px solid #ededed;
}
#boardContent .view_box .view_info span {
    display: inline-block;
    padding: 0 7px 0 8px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    position: relative;
    color: #9a9a9a;
}
#boardContent .view_box .view_info > span:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 11px;
    background-color: #d6d6d6;
}
#boardContent .view_box .view_info span.writer {
    padding-left: 0;
}
#boardContent .view_box .view_info span.writer:after {
    display: none;
}
#boardContent .view_box .view_info span.rating {
    position: relative;
    background: none;
    width: auto;
    height: auto;
    top: inherit;
    right: inherit;
    padding-left: 0;
}
#boardContent .view_box .view_info span.rating:after {
    display: none;
}
#boardContent .view_box .view_info span.rating img {
    vertical-align: inherit;
}
#boardContent .view_box .view_info div {
    display: block;
}
#boardContent .view_box .view_info div .js_btn_report {
    margin-top: 10px;
}
#boardContent .view_box .contents_holder {
    padding: 32px 24px;
}

/* 메디톡톡 게시판 */
.view_gallery.meditalktalk_view .goods_area > h3 {
    display: none;
}
.view_gallery.meditalktalk_view .goods_area .view_info_box {
    display: none;
}
.view_gallery.meditalktalk_view #boardContent .view_box .contents_holder {
    padding: 0;
}

/* 이벤트게시판 */
div.list_event #boardlist .goods_area .notice_list li {
    padding: 0;
    border: 0;
    margin: 0 24px 40px;
}
div.list_event #boardlist .goods_area .notice_list li > .mlink {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
}
div.list_event #boardlist .goods_area .notice_list li div {
    display: block;
}
div.list_event #boardlist .goods_area .notice_list li div.notice_img {
    width: 100%;
    margin-bottom: 16px;
}
div.list_event #boardlist .goods_area .notice_list li div.notice_img img {
    width: 100%;
}
div.list_event #boardlist .goods_area .notice_list li .notice_title {
    padding: 0;
}
div.list_event #boardlist .goods_area .notice_list li .notice_title .text {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #1a1a1a;
    margin-bottom: 8px;
}
div.list_event
    #boardlist
    .goods_area
    .notice_list
    li
    .notice_bottom
    .board_txt {
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #8a8a8a;
}
div.list_event #boardlist .goods_area .notice_list li .notice_data span {
    padding: 0;
}
div.list_event #boardlist .goods_area .notice_list li .notice_data span.bar {
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #ddd;
    margin: 0 8px;
    vertical-align: middle;
}

div.view_event #boardContent .view_body .selected_goods {
    display: flex;
    padding: 16px 24px;
    border-bottom: 1px solid #ececec;
}
div.view_event #boardContent .view_body .selected_goods .cell_img {
    flex: 1;
    flex-basis: 30%;
    margin-right: 15px;
}
div.view_event #boardContent .view_body .selected_goods .p_info {
    flex: 1;
    flex-basis: 70%;
    overflow: hidden;
}
div.view_event #boardContent .view_body .selected_goods .p_info .cell_info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}
div.view_event #boardContent .view_body .selected_goods .p_info .cell_info a {
    font-size: 13px;
    color: #1a1a1a;
    font-weight: 700;
}
div.view_event #boardContent .view_body .selected_goods .p_info .cell_price {
    font-size: 13px;
    color: #1a1a1a;
    font-weight: 700;
}

/* 1:1 문의 게시판 */
div.faq_list .boardlist .sel_box {
    padding: 10px 24px;
}
div.faq_list .boardlist h3 {
    padding: 10px 24px;
}
